@import '../../styles/variables';

.project {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  padding-bottom: 70px;

  &:not(:last-of-type) {
    border-bottom: 1px solid rgba(0,0,0,0.3);
  }

  a {
    border-bottom: none;

    &:hover {
      color: $primary-darken;
      border-bottom: none;
      text-decoration: none;
    }
  }

  @media (max-width: 860px) {
    justify-content: space-between;
  }

  @media (max-width: $TABLET) {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 40px;
    padding-bottom: 40px;
  }

  &:nth-of-type(even) {
    @media (min-width: $TABLET + 1) {
      flex-direction: row-reverse;
    }
  }
}

.title {
  margin-top:0;
  margin-bottom: 20px;
}

.screenshot {
  margin-right: 30px;

  @media (max-width: $TABLET) {
    margin-right: 0;
    margin-bottom: 25px;
  }
}

.links {
  display: flex;
  align-items: center;

  &--below-tablet {
    @media (min-width: $TABLET) {
      display: none;
    }
  }

  &--tablet-up {
    @media (max-width: $TABLET - 1) {
      display: none;
    }
  }

  span {
    font-size: 16px;
  }
}

.gh-icon {
  margin-right: 5px;
}

.info {
  max-width: 440px;

  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;

  p {
    font-size: 18px;
    margin-bottom: 0;

    @media (max-width: $TABLET) {
      margin-bottom: 30px;
    }
  }

  @media (max-width: 880px) {
    max-width: 400px;
  }

  @media (max-width: $TABLET) {
    width: 100%;
    max-width: 100%;
  }
}
