@import '../../styles/variables';

.bio {
  display: flex;
  font-size: 24px;
  line-height: 1.5;
  margin-top: 3rem;
  margin-bottom: 4rem;
  align-items: flex-start;

  @media (max-width: 500px) {
    flex-direction: column;
    align-items: center;
    font-size: 22px;
    line-height: 1.4;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }

  p {
    margin-bottom: 0;
  }
}

.bio__avatar {
  margin-right: 1.5rem;
  margin-bottom: 0;
  margin-bottom: 1rem;
  min-width: 125px;
  border-radius: 100%;

  @media (max-width: 500px) {
    margin-right: 0;
    margin-bottom: 2rem;
  }
}

.bio__hand {
  font-size: 26px;
}
