@import '../styles/variables.scss';

.post-links {
  display: flex;
  margin-bottom: 1.45rem;

  // @media (max-width: $PHONE) {
  //   flex-direction: column;
  // }
}

.post-link {
  width: 50%;
  color: $primary-color;

  &:first-of-type {
    margin-right: 0.5rem;
  }

  &:last-of-type {
    margin-left: 0.5rem;
  }

  div {
    padding: 0.5rem;
    &.right {
      text-align: right;
    }

    p {
      color: $body-font-color;
      font-size: 80%;
      margin-bottom: 0.5rem;
    }

    p:last-of-type {
      font-size: 90%;
      margin: 0;
      color: inherit;
    }
  }
}

body.dark .post-link {
    p {
      color: $body-font-color--dark;
    }

    p:last-of-type {
      color: inherit;
    }
}
