@import '../../styles/variables.scss';

.contact-intro {
  margin-top: 2.175rem;
  font-size: 24px;
  line-height: 1.5;
}

.form {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 2.5rem;
  margin-bottom: 3rem;
}

.form label {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 18px;
  letter-spacing: 1px;
}

.form input,
.form textarea,
.form button {
  font-size: 24px;
  padding: 5px;
  margin-bottom: 25px;
  border: 1px solid black;
  border-radius: 4px;
}

.form button {
  cursor: pointer;
  background: $primary-color;
  color: white;
  border: 2px solid transparent;
  text-transform: uppercase;
  margin-top: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.contact-error {
  margin-top: 15px;
  display: flex;
  align-items: center;

  &-icon {
    color: red;
    font-size: 32px;
    margin-right: 7px;
  }
}
