@import '../../styles/variables';

.projects__links {
  margin-top: 2.175rem;
  margin-bottom: 0.725rem;
  display: flex;
  align-items: center;

  &__github {
    height: 32px;
    width: 32px;
    color: $black;
    opacity: 0.7;
    transition: transform 0.2s ease;
    margin-left: 20px;

    &:hover {
      border-bottom: none;
      opacity: 1;
      transition: all 0.2s ease;
    }
  }
}

.projects__title {
  margin-top: 0;
  margin-bottom: 0;
  transition: all 0.2s ease;

  .projects__link {
    border-bottom: none;
  }
  .projects__link:hover {
    color: $primary-darken;
    border-bottom: none;
    transition: all 0.2s ease;
  }
}

.projects__browser-screenshot {
  max-width: 670px;
  // border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.projects__outro {
  font-size: 24px;
  line-height: 1.5;
  @media (max-width: 500px) {
    font-size: 22px;
  }
}
