@import '../../styles/variables';

.project {
  display: flex;
  justify-content: space-between;
  justify-content:space-around;
  margin-top: 70px;
  margin-bottom: 70px;

  a {
    border-bottom: none;

    &:hover {
      color: $primary-darken;
      border-bottom: none;
      text-decoration: none;
    }
  }

  @media (max-width: 860px) {
    justify-content: space-between;
  }

  @media (max-width: $TABLET) {
    flex-direction: column-reverse;
    align-items: center;
    margin: 40px 0;
  }

  &:nth-of-type(even) {
    @media (min-width: $TABLET + 1) {
      flex-direction: row-reverse;
    }
  }
}

.projects__title {
  margin-top:0;
  margin-bottom: 20px;
}

.projects__browser-screenshot {
  margin-right: 30px;

  @media (max-width: $TABLET) {
    margin-right: 0;
  }
}

.projects__links {
  display: flex;
  align-items: center;

  &--below-tablet {
    @media (min-width: $TABLET) {
      display: none;
    }
  }

  &--tablet-up {
    @media (max-width: $TABLET - 1) {
      display: none;
    }
  }
}

.projects__info {
  max-width: 440px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  p {
    font-size: 18px;
    margin-bottom: 0;

    @media (max-width: $TABLET) {
      margin-bottom: 30px;
    }
  }

  @media (max-width: 880px) {
    max-width: 400px;
  }

  @media (max-width: $TABLET) {
    max-width: 100%;
  }
}
