// Fonts
$header-font-family: 'Work Sans', sans-serif;
$body-font-family: 'Quattrocento Sans', sans-serif;

// Colors
$primary-color: #04724d;
$primary-lighten: lighten($primary-color, 10%);
$black: #2d2d2a;
$body-font-color: hsla(0, 0%, 0%, 0.8);
$header-font-color: hsla(0, 0%, 0%, 0.9);

$container-width: 670px;
