@import './variables.scss';

.contact-intro {
  margin-top: 2.175rem;
  font-size: 24px;
  line-height: 1.5;
}

.form {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 2.5rem;
  margin-bottom: 3rem;
}

.form label {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 18px;
  letter-spacing: 1px;
}

.form input,
.form textarea,
.form button {
  font-size: 20px;
  padding: 5px;
  margin-bottom: 25px;
  border: 1px solid $black-olive;
  border-radius: 4px;
}

.form button {
  cursor: pointer;
  background: $primary-color;
  color: white;
  border: 2px solid transparent;
  align-self: center;
  margin-top: 20px;
  font-weight: 700;
  transition: all 0.2s ease;
  padding: 5px 20px;

  &:hover {
    background: $primary-lighten;
    transition: all 0.2s ease;
  }

  @media (max-width: $PHONE) {
    align-self: unset;
  }
}

.contact-error {
  margin-top: 15px;
  display: flex;
  align-items: center;

  &-icon {
    color: #f05561;
    font-size: 32px;
    margin-right: 7px;
  }
}
