@import '../styles/variables';

$comment:      #b2b2b2;
$char:         #d8dee9;
$keyword:      #c5a5c5;
$primitive:    #5a9bcf;
$string:       #8dc891;
$variable:     #d7deea;
$boolean:      #ff8b50;
$punctuation:  #88c6be;
$tag:          #fc929e;
$function:     #79b6f2;
$className:    #fac863;
$method:       #6699cc;
$operator:     #fc929e;
$line-highlight: lighten($black, 10%);


.gatsby-highlight {
  background: $code-block--light;
  color: white;
  tab-size: 1.5em;
  margin-bottom: 2.175rem;
  position: relative;
  -webkit-overflow-scrolling: touch;

  @media screen and (max-width: $PHONE) {
    margin: 0 -1rem;
  }
}

code[class*='language-'],
pre[class*='language-'] {
  font-family: $monospace-font-family;
  font-size: 16px;
  line-height: 1.4;
  overflow-x: scroll;


  @media screen and (max-width: $PHONE) {
    font-size: 14px;
  }
}

.gatsby-highlight pre[class*="language-"]::before {
  color:      #ffffff;
  background: #79b6f2;
}

.gatsby-highlight pre[class='language-jsx']::before {
  content: 'JSX';
}

.gatsby-highlight pre[class='language-javascript']::before {
  content: 'JS';
}

.gatsby-highlight pre[class='language-js']::before {
  content: 'JS';
}

pre[class='language-css']::before {
  content: 'CSS';
}

pre[class='language-python']::before {
  content: 'python';
}

pre[class*='language-'] {
  padding: 1.3rem 1rem 1rem;
}

.gatsby-highlight pre[class*='language-']::before {
  color: #232129;
  font-size: 0.85rem;
  font-family: $monospace-font-family;
  letter-spacing: 0.075em;
  position: absolute;
  left: 1rem;
  top: -0.75rem;
  text-transform: uppercase;
  padding: 0 0.65rem;
  height: 1.5rem;
  line-height: 1.5rem;
}

.gatsby-highlight-code-line {
  background-color: $line-highlight;
  display: block;
  margin: -0.125rem calc(-1rem);
  padding: 0.125rem calc(1rem + 15px);
}


.token.attr-name {
  color: $keyword;
  font-style: italic;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: $comment;
  font-style: italic;
}

.token.property,
.token.number,
.token.function-name,
.token.constant,
.token.symbol,
.token.deleted {
  color: $primitive;
}

.token.boolean {
  color: $boolean;
}

.token.tag {
  color: $tag;
}

.token.string {
  color: $string;
}

.token.punctuation {
  color: $punctuation;
}

.token.selector,
.token.char,
.token.builtin,
.token.inserted {
  color: $char;
}

.token.function {
  color: $function;
}

.token.operator,
.token.entity,
.token.url,
.token.variable {
  color: $variable;
}

.token.attr-value {
  color: $string;
}

.token.keyword {
  color: $keyword;
}

.token.atrule,
.token.class-name {
  color: $className;
}

.token.important {
  font-weight: 400;
}

.token.bold {
  font-weight: 700;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: 'help';
}

.namespace {
  opacity: 0.7;
}
