// Fonts
$header-font-family: 'Work Sans', sans-serif;
$body-font-family: 'Quattrocento Sans', sans-serif;

// Colors
$primary-color: #fb4d3d;
$primary-lighten: lighten($primary-color, 10%);
$primary-darken: darken($primary-color, 20%);
$black: #393e41;
$body-font-color: hsla(0, 0%, 0%, 0.8);
$header-font-color: hsla(0, 0%, 0%, 0.9);

$container-width: 670px;
$container-width--wide: 1000px;
$PHONE: 500px;
$TABLET: 760px;

$tart-orange: #fb4d3d;
$black-olive: #393e41;
$isabelline: #f1f2eb;
