// Fonts
$header-font-family: 'Work Sans', sans-serif;
$body-font-family: 'Quattrocento Sans', sans-serif;

$container-width: 670px;
$container-width--wide: 1000px;
$PHONE: 500px;
$TABLET: 760px;

// Colors
$tart-orange: #fb4d3d;
$black-olive: #393e41;
$isabelline: #f1f2eb;
$black: #393e41;

// Colors - Light Theme
$primary-color: #fb4d3d;
$primary-lighten: lighten($primary-color, 10%);
$primary-darken: darken($primary-color, 20%);
$body-font-color: hsla(0, 0%, 0%, 0.8);
$header-font-color: hsla(0, 0%, 0%, 0.9);
$header-black: $black;


// Colors - Dark Theme
// $primary-color--dark: #F9DF30;
// $primary-color--dark: #f05561;
// $primary-color--dark: #ee224a;
// $primary-color--dark: #91c13e;
// $primary-color--dark: #22af4b;
$primary-color--dark: #f0e995; // good
// $primary-color--dark: #0f89ca;
// $primary-color--dark: #09B9A5;
// $primary-color--dark: #35b997;

$primary-lighten--dark: lighten($primary-color--dark, 10%);
$primary-darken--dark: darken($primary-color--dark, 20%);
$header-black--dark: #202124;
$body-background--dark: #323639;
$body-font-color--dark: white;
$header-font-color--dark: white;
