@import '../../styles/variables';
@import '../../styles/typography';

.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.layout-main {
  flex-grow: 1;
  padding: 0 1rem;

  &__container {
    max-width: $container-width;
    margin-left: auto;
    margin-right: auto;
  }
}
