@import '../styles/variables.scss';

.contact-intro {
  margin-top: 1.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.form label {
  text-transform: uppercase;
  margin-bottom: 5px;
  letter-spacing: 1px;
}

.form input,
.form textarea,
.form button {
  padding: 5px;
  margin-bottom: 1.5rem;
  border: 1px solid $black-olive;
}

.form button {
  cursor: pointer;
  background: $primary-color;
  color: white;
  border: 2px solid transparent;
  align-self: center;
  margin-top: 20px;
  font-weight: 700;
  transition: all 0.2s ease;
  padding: 5px 20px;

  &:hover {
    background: $primary-lighten;
    transition: all 0.2s ease;
  }

  @media (max-width: $PHONE) {
    align-self: unset;
  }
}

// .contact-error {
//   margin-top: 15px;
//   display: flex;
//   align-items: center;

//   &-icon {
//     color: #f05561;
//     font-size: 32px;
//     margin-right: 7px;
//   }
// }
