@import '../../styles/variables';

.header {
  background: $black;
  color: white;
  color: $body-font-color;
  padding: 1rem;
}

.header a {
  border-bottom: none;
  color: white;

  &:hover {
    border-bottom: none;
    color: white;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: $container-width;
  margin-left: auto;
  margin-right: auto;
}

.header__title {
  font-family: $body-font-family;
  font-weight: 400;
  font-size: 1rem;
  font-size: 1.3rem;
  line-height: 1.1;
  margin: 0;
  color: white;
  text-decoration: none;
  text-shadow: none;
  background-image: none;

  &-bold {
    font-family: $header-font-family;
    letter-spacing: 0.5px;
    font-weight: bold;
  }

  // &:hover {
  //   border-bottom: none;
  //   color: white;
  // }

  @media (max-width: 500px) {
    font-size: 1.2rem;
  }
}

.header__nav-link {
  letter-spacing: 1px;
  font-family: $body-font-family;
  font-size: 16px;
  margin-left: 15px;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: none;
  // color: white;
  background-image: none;

  &:hover {
    border-bottom: none;
    opacity: 0.8;
  }
  @media (max-width: 500px) {
    font-size: 14px;
  }
}
