.header {
  background: black;
  color:white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 670px;
  margin-left: auto;
  margin-right: auto;
}

.header__title {
  padding-left: 1rem;
  margin: 0;
}

.header nav {
  padding-right: 1rem;
}
.header__nav-link {
  font-size: 16px;
  margin-left:15px;
  text-transform: uppercase;
  text-decoration: none;
  /* padding-right: 1rem; */
}
