@import '../../styles/variables';

.header {
  background: $black;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 670px;
  margin-left: auto;
  margin-right: auto;
}

.header__title {
  // font-family: $header-font-family;
  // font-weight: 600;
  font-weight: 400;
  font-size: 2rem;
  font-size: 1rem;
  line-height: 1.1;
  padding-left: 1rem;
  margin: 0;
  color: white;
  text-decoration: none;
  text-shadow: none;
  background-image: none;

  &-bold {
    letter-spacing: 0.5px;
    font-weight: bold;
    font-family: $header-font-family;
  }

  &:hover {
    border-bottom: none;
  }

  @media (max-width: 480px) {
    font-size: 1rem;
  }
}

.header nav {
  padding-right: 1rem;
}

.header__nav-link {
  font-size: 16px;
  margin-left: 15px;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: none;
  color: white;
  background-image: none;

  &:hover {
    border-bottom: none;
    opacity: 0.8;
  }
  @media (max-width: 480px) {
    font-size: 14px;
  }
}
