@import '../styles/variables';
@import '../styles/typography';
@import '../styles/theme';

.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

main {
  flex-grow: 1;
  padding: 0 1rem;
  margin: 0 auto;
  max-width: $container-width--wide;
}

